* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "miFuente";
  src: url("/fonts/roboto.ttf");
}

html {
  font-family: miFuente;
}

.container {
  width: 80%;
  height: 100vh;
  margin: 40px auto;
  border-top: 6px solid green;
}

.titulo {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 1.8em;
  margin-bottom: 10px;
  display: inline-block;
}

.imagen {
  margin-top: 20px;
  width: 40%;
  float: left;
  margin-right: 15px;
}

.imagen img {
  width: 100%;
}

p {
  text-align: justify;
  margin-top: 20px;
}

/* Estilos Mobile */
@media screen and (max-width: 800px) {
  .container {
    width: 92%;
    height: 100vh;
    margin: 20px auto;
    border-top: 5px solid green;

  }

  .titulo {
    display: block;
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 15px;
    font-weight: 600;
  }

  .imagen {
    margin-top: 0px;
    width: 100%;
  }

  p {
    text-align: justify;
    margin-top: 20px;
    line-height: 21px;
    font-size: 1em ;
  }

}
